@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@500&family=PT+Sans+Narrow:wght@700&family=Poppins:wght@200;300;500&family=Roboto+Slab:wght@800&family=Ruwudu:wght@700&display=swap');

.nav-bar{
  background-color: #068FFF;
  border-radius: 50px;
  height: 50px;
  margin-left: 20px;
  margin-right: 20px;

}

.nav-icon{
  color: white;
}

.nav-icon:hover{
  color: rgb(211, 211, 211);
}

.r1 {
  align-items: center;
  height: inherit;

}

.col1 {
  align-items: center;
  text-align: center;
}

.col2 {
  align-items: center;
  text-align: center;
}

.itxt {
  text-align: center;
  font-size: large;
}

.name {
  font-weight: bold;
  font-size: 38px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: 'Poppins',
    sans-serif;
}

.con {
 
  height: 600px;
}

.avatar {
  width: 350px;

}

.hello{
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 45px;
}

.avatar {
  width: 400px;


}

.btn-contact{

    color: white !important;
    border-radius: 20px !important;
    font-family: 'Poppins', sans-serif !important;
    background-color: #068FFF !important;
}
.btn-contact:hover{
  background-color: #35155D !important;
}



@media (max-width:480px) {
  #optionalavatar {
    display: show;
    width: 200px;
    margin-top: -20px;
  }

  @media (max-width:600px) {
    #name {
      font-size: 22px;
    }
  }
     

  @media (max-width:600px) {
    #itxt {
      font-size: 15px;
    }
  }
}


