@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@500&family=PT+Sans+Narrow:wght@700&family=Poppins:wght@200;300;500&family=Roboto+Slab:wght@800&family=Ruwudu:wght@700&display=swap');


/* navbar */
.nav-bar{
  background-color: #068FFF;
  border-radius: 50px;
  height: 50px;
  margin-left: 20px;
  margin-right: 20px;

}

.nav-icon{
  color: white;
}

.nav-icon:hover{
  color: rgb(172, 172, 172);
   
}

/* home */
.r1 {
  align-items: center;
  height: inherit;

}

.col1 {
  align-items: center;
  text-align: center;
}

.col2 {
  align-items: center;
  text-align: center;
}

.itxt {
  text-align: center;
  font-size: large;
}

.name {
  font-weight: bold;
  font-size: 38px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: 'Poppins',
    sans-serif;
}

.con {
 
  height: 600px;
}

.avatar {
  width: 350px;

}

.hello{
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 45px;
}

.avatar {
  width: 400px;


}

.btn-contact{

    color: white !important;
    border-radius: 20px !important;
    font-family: 'Poppins', sans-serif !important;
    background-color: #068FFF !important;
}
.btn-contact:hover{
  background-color: #35155D !important;
}

@keyframes mover {
0% {top: 10px;}
100% {bottom: 10px;}
}

.down-arrow{
  /* margin-bottom: 20px; */
  text-align: center;
  color: #068FFF;
  position: relative;
  top: 0;
  margin-top: -60px;
  animation: mover 0.5s infinite;
  animation-direction: alternate-reverse;
  
}

@media (max-width:480px) {
  #optionalavatar {
    display: show;
    width: 250px;
    margin-top: -20px;
  }

  @media (max-width:600px) {
    #name {
      font-size: 22px;
    }
  }


  @media (max-width:600px) {
    #itxt {
      font-size: 15px;
    }
  }

  @media (max-width:600px) {
    #hello {
      font-size: 30px;
    }
  }

  @media (max-width:480px) {
    #down {
      margin-top: 0px;

    }
  }
}

/* about */
.about-div {
  text-align: center;
  margin-top: 200px;
  padding-bottom: 50px;
}

.about {

  text-align: center;
  font-weight: bold;
  font-family: 'Fira Sans Condensed', sans-serif;
  color: white;
}

.p {
  /* text-align: center; */
  margin-left: 100px;
  margin-right: 100px;
  font-family: 'Poppins', sans-serif;
  color: white;
}

/* skills */
.skills {
  margin-top: 100px;
  text-align: center;
  font-weight: bold;
  font-family: 'Fira Sans Condensed', sans-serif;
  color: white;
}

.logo-skill {
  /* margin-top: 50px; */
  width: 70px;
  /* margin-bottom: 50px;   */
}

.logomain-skill {
  /* margin-top: 50px; */
  width: 70px;
  /* margin-bottom: 50px; */
  /* margin-left: 100px; */
  /* margin-right: 100px; */
}

.p {
  text-align: center;
  font-family: 'Poppins',
    sans-serif;
}

.skill{
padding-bottom: 100px;
}

/*Interest*/
.ser {
  text-align: center;
  font-weight: bold;
  font-family: 'Fira Sans Condensed', sans-serif;
  margin-top: 10px;
  color: white;
}

.par {
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  font-family: 'Poppins', sans-serif;
}

.crdgrp {
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
}

.card-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  text-align: center;
}

.title {
  text-align: center;
}

.two-card {
  width: 700px;
}

.crd{
  background: rgba(168, 145, 233, 0.20)!important;
  color: white!important;
  border-radius: 35px!important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)!important;
  backdrop-filter: blur(1px)!important;
  -webkit-backdrop-filter: blur(1px)!important;
 
}
.crd-img{
  border-radius: 35px!important;
  padding: 15px 15px 15px 15px;
}

/* projects */
.about {
  margin-top: 50px;
  text-align: center;
  font-weight: bold;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.p {
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
  font-family: 'Poppins', sans-serif;
}

.img {
  width: 350px;
  margin-bottom: 20px;
}

.img-main {
  width: 350px;
  margin-bottom: 20px;
  margin-left: 80px;
  margin-right: 80px;
}

.title {
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.card-text {
  font-family: 'Poppins', sans-serif;
}



.git-img:hover{
  background-color: #ffffff00;
    width: 55px;
  
}

.card-main {
  width: 20rem;
  background: rgba(168, 145, 233, 0.20) !important;
    color: white !important;
    border-radius: 35px !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(5px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
    height: 480px!important;
    align-self: flex-end !important;
    margin-bottom: 20px;
    
}

.git-img{
  width: 50px;
  margin-top: 8px; 
}
.git-img2 {
  width: 50px;
  margin-bottom: -180px;
}
.git-img3 {
  width: 50px;
  margin-bottom: -86px;
}

.projects{
  padding-bottom: 100px;
}

/* contact */

#mail{
  color: white;
}
.logo {
  width: 90px;
  margin-bottom: 20px;
} 

.logo:hover{
  width: 85px;
}

.logomain {
  width: 90px;
  /* margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px; */
    margin-top: 20px;
}

.logomain:hover{
  width: 102px;
}
.contact{
  padding-bottom: 100px;
}

.faqs {
  margin-top: 50px;
  text-align: center;
  font-weight: bold;
  font-family: 'Fira Sans Condensed', sans-serif;
}

/* #main-div{
    padding-left: 200px;
    padding-right: 200px;
}

@media (max-width:629px) {
    #main-div {
       padding-left: 50px;
       padding-right: 50px;
    }
} */

.faqs {
  margin-bottom: 40px;
  color: white;

}

.header-faqs {
  font-family: 'Poppins', sans-serif;
  color: #068FFF!important;
  border-radius: 15px!important;
}

.body-faqs {
  font-family: 'Poppins', sans-serif;
  color: white;
  background: rgba(3,0,28,1) !important;
    color: white !important;
   
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(5px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
}

@keyframes mover {
  0% {
    top: 10px;
  }

  100% {
    bottom: 10px;
  }
}

.up-arrow {
  /* margin-bottom: 20px; */
  text-align: center;
  color: #068FFF;
  position: relative;
  top: 0;
  margin-top: -60px;
  animation: mover 0.5s infinite;
  animation-direction: alternate-reverse;

}

/* footer */

.foot {
  background-color:#068FFF;
  height: 230px;
  padding-bottom: 80px;
  border-radius: 50px 50px 0px 0px;
}

.footer {
  text-align: center;
  color: white;
  font-family: 'Poppins', sans-serif;

}

.icon-footer {
  color: white;
  margin-top: 40px;
  text-align: center;
  border-radius: 15px;
  

}


